html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(19, 107, 184, 0.696);
}

#ageContainer {
    
    text-align: center;
    width: 30%;
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    margin-top: 15%;
    height: 230px;
}

h1, input, button, p{
    margin: 2% 0;
    padding: 2% 0;
}

button {
    width: 30%;
    background-color: rgb(12, 93, 12);
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: white;
    color: rgb(12, 93, 12);
    border-radius: 5px;
    border: rgb(12, 93, 12) solid 1px ;
}

button:active {
    background-color: white;
    color: rgb(12, 93, 12);
    border-radius: 5px;
    border: rgb(12, 93, 12) solid 1px;
    box-shadow: 0 0 2px 2px rgb(12, 93, 12);
}